@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i');
@import url('https://fonts.googleapis.com/css?family=PT+Serif:400,400i,700,700i');
/*>>>>>>>> Fonts <<<<<<<<<*/
/*>>>>>>>> Reset <<<<<<<<<*/
* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-family: Bangla758, 'Open Sans', sans-serif;
    font-weight: 400;
    color: #333;
    font-size: 14px;
    line-height: 1.75;
    width: 100%;
    background: #f2f2f2;
}
.book-image {
    border-radius: 5px 5px 5px 5px;
    box-shadow: 3px 3px 6px gray;
    margin: 0;
    padding: 0;
}

.book-details-image {
    border-radius: 5px 5px 5px 5px;
    box-shadow: 3px 3px 6px gray;
    margin: 0;
    padding: 0;
}
/* .book-slider-image {
    box-shadow: 3px 3px 6px gray;
    height: 234px;
} */
.book-image:hover {
    animation: pulse; /* referring directly to the animation's @keyframe declaration */
    animation-duration: 3s; /* don't forget to set a duration! */
}
.bookpriceusd {
    color: #999999;
    margin-left: 5px;
    font-size: 14px;
    font-weight: 400;
}

.add-cart-item {
    width: 20px;
    height: 30px;
    padding: 0 9px;
    margin: 0px 20px;
    margin-left: 3px;
}
.add-cart-card {
    width: 30px;
    height: 30px;
    padding: 0 0px;
    margin: 0px 25px;
    margin-left: 2px;
}

/* audio player  */
audio::-webkit-media-controls-panel {
    background-color: rgb(219, 219, 219);
    color: rgb(252, 252, 252);
}
audio::-webkit-media-controls-play-button {
    color: aqua !important;
}

audio::-webkit-media-controls-fullscreen-volume-slider,
video::-webkit-media-controls-fullscreen-volume-slider {
    display: none;
    color: red;
    background-color: seagreen;
}

.audioPlayer {
    position: fixed;
    bottom: 0;
    left: 10px;
    right: 0;
    width: 100%;
    z-index: 9999 !important;
}

/* you need to wrap the component */
.image-wrapper {
    /* box-sizing: content-box; */
    border-radius: 5px;
    box-shadow: 5px 3px 8px gray;
}
.image-wrapper-gen {
    /* box-sizing: content-box; */
    border-radius: 5px 0 0 5px;
}

.dotted-button {
    font-size: 1.1em;
    padding: 2px 12px;
    background-color: #c1e3ff;
    border: 2px dotted #00acb1;
    border-radius: 10px;
}
